<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]> <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]> <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        {% if title %}
            <title>Flask Blog - {{title}}</title>
        {% else %}
            <title>Flask Blog</title>
        {% endif %}
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        {% block content %}{% endblock content %}

        <div class="container">
            <!-- First frame (top-left) with embedded Folium map -->
            <div class="frame frame1">
                <iframe id="mapFrame" src="{{ url_for('static', filename='map.html') }}" width="100%" height="100%" frameborder="0"></iframe>
            </div>

            <!-- Video feed in the second frame -->
            <div class="frame frame2">
                <div id="video_feed">
                    <img id="video" src="{{ url_for('video_feed') }}" alt="Car Counting Video" width="100%" height="100%">
                </div>
            </div>

            <!-- Pie chart in the third frame -->
            <div class="frame frame3">
                <div id="Chart">
                    <img id="pieChart" src="{{ url_for('static', filename='pie_chart.png') }}" width="100%" height="100%" alt="Pie Chart">
                </div>
            </div>

            <!-- Additional frame (fourth frame) -->
            <div class="frame frame4">
                <div id="TimeSeries">
                    <img id="TimeSeriesChart" src="{{ url_for('static', filename='time_series.png') }}" width="100%" height="100%" alt="Pie Chart">
                </div>
            </div>
        </div>

        <script>
            // Refresh the map every 5 seconds
            document.addEventListener('DOMContentLoaded', function() {
                setInterval(async function() {
                    await fetch("/generate_map"); // Call route to generate new map
                    document.getElementById('mapFrame').src = "{{ url_for('static', filename='map.html') }}" + "?t=" + new Date().getTime(); // Refresh iframe
                }, 5000); // 5000 milliseconds = 5 seconds
            });
        </script>

        <script>
            // Refresh the pie chart every 5 seconds
            setInterval(async function() {
                await fetch("/generate_pie_chart");
                document.getElementById('pieChart').src = "{{ url_for('static', filename='pie_chart.png') }}" + "?t=" + new Date().getTime();
                document.getElementById('TimeSeriesChart').src = "{{ url_for('static', filename='time_series.png') }}" + "?t=" + new Date().getTime();

            }, 5000);  // 5000 milliseconds = 5 seconds
        </script>
    </body>
</html>
